{% extends "base.html" %}

{% block header %}Team Cowboy API{% endblock %}

{% block sub_header %}Team Schedules{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <p>{{ message }}</p>
    {% if team_info %}
        <ul>
        {% for team in team_info %}
            <div>
                <h2>{{ team.teamname }} </h2>
                <p>
                <table>
                    {% for person in team.body %}
                        <tr><td>{{ person.fullName }}</td><td>{{ person.emailAddress1 }}</td><td>{{ person.phone1 }}</td></tr>
                    {% endfor %}
                </table>
                </p>
            </div>
        {% endfor %}
    </ul>
{% endif %}

    {% if login_form %}
        <form action="/team/calendar/" method="post">
        {% csrf_token %}
            <table>
                {% for field in login_form %}
                    <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
                {% endfor %}
                <tr><td><input type="submit" value="Submit"/></td></tr>
            </table>
        </form>
    {% endif %}

    {% if feed %}
    <ul>
        {% for event in feed %}
        <li>{{ event }}{{ event.when.start }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% if batch_results %}
    <ul>
        {% for entry in batch_results %}
        <li>{{ entry.batch_id.text }} {{ entry.batch_status.code }} {{ entry.batch_status.reason }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
